.hide {
	display: none;
}

.html {
	background-image: radial-gradient(#6CD7FD, navy);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	background-position: center;

}

.center {

	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

.header {
	background-color: gainsboro
}

.fontHeader {
	color: white
}

.table {
	background-color: beige
}

.nav {
	width: 20%;
	float: left;
	min-height: 100vh;
	background-color: gainsboro;
	padding: 20px;
}

.page {
	width: 75%;
	float: left;
	margin: 30px;
	margin-left: 50px;

}

.list {
	background-image: url("/images/gplaypattern.png");

}
/*body{
	height: 100vh;
	overflow: scroll;
}*/

/*
.pageHeight{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.content{
	width: 100%;
	min-height: 100%;
	overflow: scroll;
}*/

.window{
	width: 50%;
	position: center;
	margin-left: 25%;
}


* {
	margin: 0px 0px;
	padding: 0px 0px;
}
html, body {
	height: 100%;
	/*text-align:center;*/
}
#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom:-29px; /* - height of footer */
}
#footer, #push {
	clear:both;
	height:29px;
}


.popup-outside {
	display: none;
	background-color: rgba(200, 200, 200, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
	z-index: 9999;
}

.popup-inside {
	margin: 50px;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
